@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    padding: 0;
    margin: 0;
    font-family: "Noto Sans KR", sans-serif;
    box-sizing: border-box;
    background-color: #000;
    color: #fff;
}

.main_item_hover {
    transition: transform 0.3s ease-in-out;
}

.main_item_hover:hover {
    transform: scale(1.03);
}

/*animation class*/
.scroll-hidden::-webkit-scrollbar {
    display: none;
}




/*keyframes*/
@keyframes slideIn {
    0% {
        opacity: 0;
        transform: translateY(100%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

