@tailwind base;
@tailwind components;
@tailwind utilities;

/* Neo둥근모 */
@import url('//cdn.jsdelivr.net/gh/neodgm/neodgm-webfont@1.530/neodgm/style.css');

/* Neo둥근모 Code */
@import url('//cdn.jsdelivr.net/gh/neodgm/neodgm-webfont@1.530/neodgm_code/style.css');

html,
body {
    padding: 0;
    margin: 0;
    font-family: 'Noto Sans KR', sans-serif;
    box-sizing: border-box;
    background-color: #121212;
}

/*.font-neo { font-family: 'NeoDunggeunmo'; }*/

/*.font-neo-code { font-family: 'NeoDunggeunmo Code'; }*/

@keyframes zoomAndMove {
    0% {
        transform: scale(1) translateY(0);
    }
    50% {
        transform: scale(2) translateY(0);
    }
    100% {
        transform: scale(2) translateY(-200%);
    }
}